
/* ".cell input" applies to any input tags in cell className" */
.cell input {
  background-color: yellow;
  width: 40px; /* or any size that fits well in your grid */
  height: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid black;
  box-sizing: border-box; /* Include padding and border in the width and height */
text-align: center;
font-size: larger;
}

.tiles {
  display: inline-flex; /* Flex for centering content within each tile */
  justify-content: center; /* Center the letter horizontally */
  align-items: center; /* Center the letter vertically */
  width: 40px; /* Width of each tile */
  height: 40px; /* Height of each tile */
  background-color: #f0f0f0; /* Light background for the tile */
  border: 1px solid #ccc; /* Border to distinguish each tile */
  border-radius: 5px; /* Rounded corners for the tiles */
  font-size: 20px; /* Larger font size for the letter */
  font-weight: bold; /* Make the letter bold */
  margin: 5px; /* Margin around each tile */
}

.letter-bag, .letter-hand {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

/* Animation with handling the draw letter. used in LetterBag and LetterHand when a tile is drawn from the bag to the hand */
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-out {
  animation: fadeOut 1s forwards;
  color: red !important
}

.fade-in {
  animation: fadeIn 1s forwards;
  color: red !important
}
